/* ---------------- TEXT STYLES ---------------------- */
body {
	font-family:"Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 1.6em;
	color: #360B00;
	background-color: #FFFDDA;
	padding: 0 40px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #360B00;
}
h1 {
	font-size: 32px;
	padding: 4px;
	font-variant: normal;
	letter-spacing: 0.1em;
	line-height: 2em;
}
h2 {
	font-size: 28px;
	padding: 4px;
	font-variant: normal;
	letter-spacing: 0.1em;
	background-color: #A5BE5D;
	border: solid #360B00 3px;

}
h3 {
	font-size: 22px;
	letter-spacing: 0.1em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #9B9744;
	padding: 4px;
	font-variant: normal;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #700000;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #B8431E;
	text-decoration: none;
}
a:hover {
	color: #FF801D;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #360B00 1px;
}
td {
	padding: 6px;
	border: solid #360B00 2px;
}
th {
	font-weight: bold;
	background-color: #360B00;
	text-align: center;
	padding: 6px;
	border: solid #360B00 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #360B00 1px;
}

img {
	border: solid #360B00 1px;

}

iframe {
	border: solid #360B00 1px;
	padding: 8px;
	margin: 8px;
}


/* ---------------- CONTAINER STYLES ----------------- */
.container {
  width: 960px;  
  margin: 0 auto;
  overflow: hidden;
}

/*----------------NAVBAR STYLES-------------------*/
#navbar{
	position: fixed; /* navbar should always be shown even when page is scrolled */
	top: 0;
	width: 100%;
	height: 54px;
	background-color: rgba(255, 255, 255, 0.8); 
}	
/* horizontal menu bars are typically created using a styled unordered list. Here's how! */
ul#menu {
	list-style: none; /* eliminates bullets */
	/* adjust padding top to adjust nav bar vertical position */
	padding-top: 0px;
} 
ul#menu li {
	float: left; /* changes list from vertical to horizontal */
	padding-bottom: 20px;
} 
ul#menu li a.button {
	font-size: 16px;
	text-decoration: none;
	/* this padding defines the size of the buttons */
	padding: 20px 100px 20px 100px; 
}
/* change button color when mouse hovers over */
ul#menu li a.button:hover {
	background-color: rgba(42, 188, 238, 0.1);
}  

/*----------------SECTION STYLES--------------------*/
body {
    margin:0;
    padding: 0;
}
#splash{
    background:url(images/milk.jpg) no-repeat center top fixed;
    background-size: cover;
    height: 1100px;
   
}
#overview{
    background-color:#F9F4E5;
    
}
#media{
    background-color:#FF801D;
 
}
#discography{
    background-color:#B8431E;
   
}
#footer{
	background:url(images/berry.jpg) no-repeat center top fixed;
	background-size:  cover;
    
}
